# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
adm-gestor/frm_novedades/1431365451_FLACSO TRABAJO FINAL.pdf
adm-gestor/frm_slider/1431372955_handshake-business-family-southeast-asia.jpg
adm-gestor/frm_novedades/img/EMPRESA_FAMILIAR-small.png
adm-gestor/frm_novedades/img/EMPRESA_FAMILIAR-medium.png
adm-gestor/frm_novedades/img/cultura_organizacional-small.jpg
adm-gestor/frm_novedades/img/cultura_organizacional-large.jpg
adm-gestor/frm_novedades/img/cultura_organizacional-medium.jpg
adm-gestor/frm_novedades/img/EMPRESA_FAMILIAR-large.png
